footer {
  margin-top: 50px;
    padding: 50px 0 20px;
}

.cont-d {
    display: flex;
    flex-direction: row;
    align-items: self-end;
    justify-content: space-between;
}

.cont-d-l {
    max-width: 500px;
}

.social-media {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

 .btn {
    display: grid;
    place-items: center;
    padding: 1.4em;
    border-radius: 10px;
    background-color: #ffdef2;
    border: 1px solid rgba(0,0,0,0);
    cursor: pointer;
    transition: transform 0.5s;
    margin-left: 20px;
  }
  
  .btn:hover {
    box-shadow: inset 4px 4px 6px -1px rgba(0,0,0,0.2),
            inset -4px -4px 6px -1px rgba(255,255,255,0.7),
            -0.5px -0.5px 0px rgba(255,255,255,1),
            0.5px 0.5px 0px rgba(0,0,0,0.15),
            0px 12px 10px -10px rgba(0,0,0,0.05);
    border: 1px solid rgba(0,0,0,0.1);
    transform: translateY(0.5em);
  }
  
  .btn svg {
    transition: transform 0.5s;
  }
  
  .btn:hover svg {
    transform: scale(0.9);
    fill: rgb(226, 48, 188);
  }