<div id="overlay"></div>
<div class="hero">
    <h1>Independent Web Developer & Designer</h1>
</div>
<nav>
    <div class="logo">Yulia O.</div>
    <ul>
        <li routerLink="/about" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{ exact: true }">
            About
        </li>
        <li routerLink="/portfolio" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{ exact: true }">
            Portfolio
        </li>
        <li routerLink="/blog" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{ exact: true }">
            Blog
        </li>
    </ul>
</nav>