<div class="main">
    <!-- <div id="banner"><div> -->
        <h2>independent web developer && creative designer</h2>

        <p>With 5+ years of experience in the high-tech industry, I have developed a strong skill set as a
            web developer who can expertly take a website from concept to launch.</p>

        <div class="slider slider-1">
            <div class="slide-track">
                <div class="slide">
                    <img src="https://www.svgrepo.com/show/475696/wordpress-color.svg" alt="" />
                </div>
                <div class="slide">
                    <img src="https://www.svgrepo.com/show/394569/wix.svg" alt="" />
                </div>
                <div class="slide">
                    <img src="https://www.svgrepo.com/show/349419/javascript.svg" alt="" />
                </div>
                <div class="slide">
                    <img src="https://www.svgrepo.com/show/349540/typescript.svg" alt="" />
                </div>
                <div class="slide">
                    <img src="https://www.svgrepo.com/show/303157/react-logo.svg" alt="" />
                </div>
                <div class="slide">
                    <img src="https://www.svgrepo.com/show/303557/redux-logo.svg" alt="" />
                </div>
                <div class="slide">
                    <img src="https://www.svgrepo.com/show/314392/node.svg" alt="" />
                </div>
                <div class="slide">
                    <img src="https://www.svgrepo.com/show/303293/bootstrap-4-logo.svg" alt="" />
                </div>
                <div class="slide">
                    <img src="https://www.svgrepo.com/show/452088/php.svg" alt="" />
                </div>
                <div class="slide">
                    <img src="https://www.svgrepo.com/show/353940/jquery.svg" alt="" />
                </div>
                <div class="slide">
                    <img src="https://www.svgrepo.com/show/452156/angular.svg" alt="" />
                </div>
                <div class="slide">
                    <img src="https://www.svgrepo.com/show/354552/webpack.svg" alt="" />
                </div>
                <div class="slide">
                    <img src="https://www.svgrepo.com/show/354107/nestjs.svg" alt="" />
                </div>
                <div class="slide">
                    <img src="https://www.svgrepo.com/show/303251/mysql-logo.svg" alt="" />
                </div>
                <div class="slide">
                    <img src="https://www.svgrepo.com/show/303232/mongodb-logo.svg" alt="" />
                </div>
                <div class="slide">
                    <img src="https://www.svgrepo.com/show/353735/firebase.svg" alt="" />
                </div>
            </div>
        </div>

        <div class="slider slider-2">
            <div class="slide-track">
                <div class="slide">
                    <img src="https://www.svgrepo.com/show/74933/json-file.svg" alt="" />
                </div>
                <div class="slide">
                    <img src="https://www.svgrepo.com/show/448266/aws.svg" alt="" />
                </div>
                <div class="slide">
                    <img src="https://www.svgrepo.com/show/354522/visual-studio-code.svg" alt="" />
                </div>
                <div class="slide">
                    <img src="https://www.svgrepo.com/show/354520/visual-studio.svg" alt="" />
                </div>
                <div class="slide">
                    <img src="https://www.svgrepo.com/show/354128/npm.svg" alt="" />
                </div>
                <div class="slide">
                    <img src="https://www.svgrepo.com/show/354202/postman-icon.svg" alt="" />
                </div>
                <div class="slide">
                    <img src="https://www.svgrepo.com/show/512317/github-142.svg" alt="" />
                </div>
                <div class="slide">
                    <img src="https://www.svgrepo.com/show/349337/digitalocean.svg" alt="" />
                </div>
                <div class="slide">
                    <img src="https://www.svgrepo.com/show/303177/photoshop-cc-logo.svg" alt="" />
                </div>
                <div class="slide">
                    <img src="https://www.svgrepo.com/show/303185/premiere-cc-logo.svg" alt="" />
                </div>
                <div class="slide">
                    <img src="https://www.svgrepo.com/show/508998/zbrush.svg" alt="" />
                </div>
                <div class="slide">
                    <img src="https://thetoolbox.es/wp-content/uploads/2023/10/leonardo-logo1.svg" alt="" />
                </div>
                <div class="slide">
                    <img src="https://funnel.io/hubfs/Voluum.svg" alt="" />
                </div>
                <div class="slide">
                    <img src="https://www.signifimedia.com.au/wp-content/uploads/2021/07/Taboola.svg" alt="" />
                </div>
                <div class="slide">
                    <img src="https://www.outbrain.com/blog/wp-content/uploads/2021/01/OB-Amelia-2019-Web-Orange-1024x997.png" alt="" />
                </div>
                <div class="slide">
                    <img src="https://www.svgrepo.com/show/354585/yahoo.svg" alt="" />
                </div>
            </div>
        </div>

</div>