<div [ngClass]="themeSt()">
    <app-header></app-header>
    <main>
        <router-outlet></router-outlet>
    </main>
    <app-footer></app-footer>

    <!--  -->
    <div class="switcher-d">
        <div class="radio-input">

            <div *ngFor="let i of myThemes">

                <input [checked]="i.active" value="color-{{i.id}}" name="color" id="color-{{i.id}}" type="radio" />
                <label for="color-{{i.id}}">
                    <span (click)="styleChange(i.color)">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
                            <g stroke-width="0" id="SVGRepo_bgCarrier"></g>
                            <g stroke-linejoin="round" stroke-linecap="round" id="SVGRepo_tracerCarrier"></g>
                            <g id="SVGRepo_iconCarrier">
                                <g id="Interface / Check">
                                    <path stroke-linejoin="round" stroke-linecap="round" stroke-width="2"
                                        stroke="#ffffff" d="M6 12L10.2426 16.2426L18.727 7.75732" id="Vector"></path>
                                </g>
                            </g>
                        </svg>
                    </span>
                </label>
                
            </div>

        </div>
    </div>
</div>