/* global styles / other style files */
@import url('https://fonts.googleapis.com/css2?family=Calistoga&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

* {
    padding: 0;
    margin: 0;
}

.mrg-t-50{
    margin-top: 50px;
}

body .pink {
    background-color: #ffdef2;
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    margin-bottom: 100px;
}

body .black {
    background-color: #000000;
    color: white;
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    margin-bottom: 100px;
}

body .green {
    background-color: #bcffb6;
    color: rgb(61, 61, 61);
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    margin-bottom: 100px;
}

body {
    transition: filter 0.5s ease;
  }

  body:has(#switch:checked) #overlay {
    backdrop-filter: invert(0.9) brightness(1.5) contrast(1.4);
  }
  body:has(#switch:checked) .hero {
    mix-blend-mode: plus-lighter;
  }

main{
    min-height: 100vh;
    /* border: #000000 solid 2px; */
}

main,
.footer-div,
.header-div {
    min-width: 50vw;
    max-width: 1100px;
    margin: auto;
    padding: 1%;
}

h1,
h2,
h3,
h4,
h5 {
    font-weight: 700;
}

h1 {
    font-size: 42px;
}

h2 {
    font-size: 36px;
    line-height: 30px;
}

h3 {
    font-size: 24px;
}

p {
    font-weight: 400;
    font-size: 18px;
}

/* ------------------------------------------------- */
.switcher-d {
    width: 100vw;
    min-height: 100px;
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 101;
}

.pink .switcher-d {
    background-color: rgb(233, 163, 192);
}

.black .switcher-d {
    background-color: rgb(0, 0, 0);
}

.green .switcher-d {
    background-color: rgb(11, 124, 39);
}

/*  */
.pink footer{
    background-color: rgb(233, 163, 192);
}