<div class="main">
    <h2>Blog</h2>

    <div class="blog">
        <div class="card mb-3 blog-card">
            <div class="row g-0">
              <div class="col-md-4" id="post-1"></div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">What Is Responsive Web Design?</h5>
                  <p class="card-text"> With the rise of mobile devices, responsive web design has become more important than ever, as users expect websites to look and function perfectly on their smartphones and tablets.</p>
                  <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
                </div>
              </div>
            </div>
          </div>
          <div class="card mb-3 blog-card">
            <div class="row g-0">
              <div class="col-md-4" id="post-2"></div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">Is color important in website design?</h5>
                  <p class="card-text">Colors can be a powerful tool to elicit a response from your intended audience.</p>
                  <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
                </div>
              </div>
            </div>
          </div>
          <div class="card mb-3 blog-card">
            <div class="row g-0">
              <div class="col-md-4" id="post-3"></div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">What Is AI?</h5>
                  <p class="card-text">From healthcare to finance, AI-powered innovations enhance efficiency and decision-making. Yet, alongside its transformative potential, AI presents challenges such as data privacy and job displacement.</p>
                  <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
                </div>
              </div>
            </div>
          </div>
          <div class="card mb-3 blog-card">
            <div class="row g-0">
              <div class="col-md-4" id="post-4"></div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">What are WCAG standards?</h5>
                  <p class="card-text">WCAG standards are globally recognized and followed by web developers, designers, and organizations to ensure inclusivity and accessibility for all users.</p>
                  <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
                </div>
              </div>
            </div>
          </div>
          <div class="card mb-3 blog-card">
            <div class="row g-0">
              <div class="col-md-4" id="post-5"></div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">What the font you use can tell us about your website?</h5>
                  <p class="card-text">Font you choose affects how people understand and interpret your message, creates a sense of consistency, and sets the overall tone of your website.</p>
                  <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
                </div>
              </div>
            </div>
          </div>
    </div>
</div>